{% extends "base.html" %} {% block title %}Ceylon Handicrafts - Authentic Sri
Lankan Artisanal Products{% endblock %} {% block module_imports %} import
'/static/js/components/landing/landing-navbar.js'; import
'/static/js/components/landing/landing-carousal.js'; import
'/static/js/utils/api_utils.js'; import '/static/js/utils/auth_utils.js'; {%
endblock %} {% block content %}
<div class="landing-page">
  <landing-navbar></landing-navbar>
  <landing-carousal></landing-carousal>
</div>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #3e2723;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }

  .landing-page {
    min-height: 100vh;
    width: 100%;
    display: block;
  }
</style>
{% endblock %}
